<app-modal-fotos *ngIf="habilitarModalFoto" [imagemModal]="imagemModal"></app-modal-fotos>
<app-modal-artista *ngIf="habilitarModalArtista" [albuns]="albuns"></app-modal-artista>
<div class="conteudo">
  <h3 class="font">Busca por Artista</h3>
  <div class="mat-elevation-z8 posicionamento">
    <table mat-table [dataSource]="dataSource">
      <!-- Imagem Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Imagem </th>
        <td mat-cell *matCellDef="let artists"> 
          <img style="cursor: pointer;" (click)="habilitarModal(artists.images)" height="50" width="50" src="{{verificarLength(artists.images)}}">
        </td>
      </ng-container>
      
      <!-- Nome do Artista Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell style="cursor: pointer" (click)="mostrarAlbuns(artists.id)" *matCellDef="let artists"> {{artists.name}} </td>
      </ng-container>

      <!-- Gênero Column -->
      <ng-container matColumnDef="genres">
        <th mat-header-cell *matHeaderCellDef> Gênero </th>
        <td mat-cell *matCellDef="let artists"> {{artists.genres}} </td>
      </ng-container>
      
      <!-- Popularidade Column -->
      <ng-container matColumnDef="popularity">
        <th mat-header-cell *matHeaderCellDef> Popularidade </th>
        <td mat-cell *matCellDef="let artists"> {{artists.popularityString}} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>