<mat-toolbar class="background">
  <div class="grid-container">
    <span id="grid-espaco" class="spacer"></span>
    <div class="grid">
      <select (change)="atribuirTipo($event.target.value)" class="styleSelect">
        <option value="">Tipo da Pesquisa</option>
        <option *ngFor="let pesquisa of tipoPesquisa" value="{{pesquisa.value}}">{{pesquisa.viewValue}}</option>
      </select>
    </div>
    <div class="grid">
      <input placeholder="Digite sua pesquisa" class="styleInput" #inputPesquisa (keyup)="verificarButton(inputPesquisa.value)"/>
    </div>
    <div class="grid">
      <button [ngClass]="{'styleButton':habilitarButton === false, 'styleButtonOk':habilitarButton === true}" class="styleButton" (click)="buscar()" [disabled]="!habilitarButton">
        Buscar
      </button>
    </div>
  </div>
</mat-toolbar>