.spacer {
  flex: 1 1 auto;
}

.background {
  background: #222326;
}

.fontButton {
  color: #fff;
  cursor: pointer;
}

.fontButton:hover {
  color: #1db954;
}

.styleSelect{
  color: #1db954;
  background: #222326;
  border: none;
  width: 200px;
  outline-style: none;
  font-size: 20px;
  font-family: monospace;
  margin-right: 10px;
}

.styleSelect:hover{
  cursor: pointer;
}

.styleInput{
  color: #1db954;
  background: #222326;
  border: none;
  border-bottom: solid 1px #1db954;
  outline-style: none;
  margin-right: 10px;
  font-size: 20px;
  font-family: monospace;
}

.styleButton{
  border-radius: 20px;
  padding: 10px 40px 10px 40px;
  background: #ffffff;
  color: #000000;
  outline-style: none;
  font-size: 18px;
  font-family: monospace;
  border: none;
  cursor: no-drop;
}

.styleButton:hover{
  background: #f81d1d;
  color: #ffffff;
}

.styleButtonOk{
  border-radius: 20px;
  padding: 10px 40px 10px 40px;
  background: #1db954;;
  color: #ffffff;
  outline-style: none;
  font-size: 18px;
  font-family: monospace; 
  border: none;
  cursor: pointer;
}

.styleButtonOk:hover{
  background: #2be66c;
}

@media screen and (max-width: 700px) {

  .grid{
    width: fit-content;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
  }

  .background{
    height: fit-content;
  }

  .grid-container{
    width: fit-content;
    margin: 0 auto;
    padding: 0px 0px 10px 0px;
  }

}

@media screen and (min-width: 701px) {

  .grid{
    width: fit-content;
    display: inline-block;
  }

  .grid-container{
    width: fit-content;
    right: 0;
    padding: 10px 0px 10px 0px;
  }

}