<app-modal-fotos *ngIf="habilitarModalFoto" [imagemModal]="imagemModal"></app-modal-fotos>
<div class="conteudo">
  <h3 class="font">Busca por Música</h3>
  <div class="mat-elevation-z8 posicionamento">
    <table mat-table [dataSource]="dataSource">
      <!-- Álbum imagem Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Imagem do Álbum</th>
        <td mat-cell *matCellDef="let track"> 
          <img style="cursor: pointer;" height="50" width="50" (click)="habilitarModal(track.album.images)" src="{{verificarLength(track.album.images)}}" alt="Imagem do Album">
        </td>
      </ng-container>

      <!-- Nome Música Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Música </th>
        <td mat-cell *matCellDef="let track"> {{track.name}} </td>
      </ng-container>

      <!-- Nome dos Artistas Column -->
      <ng-container matColumnDef="artists">
        <th mat-header-cell *matHeaderCellDef> Artistas </th>
        <td mat-cell *matCellDef="let track"> {{track.artistName}} </td>
      </ng-container>

      <!-- Nome do Album Column -->
      <ng-container matColumnDef="album">
        <th mat-header-cell *matHeaderCellDef> Álbum </th>
        <td mat-cell *matCellDef="let track"> {{track.album.name}} </td>
      </ng-container>

      <!-- Duração da Música Column -->
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Duração </th>
        <td mat-cell *matCellDef="let track"> {{track.duration_ms|date:'mm:ss'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>